/* Webfont: iransans */
@font-face {
	font-family: 'iransnas';
	
	src:
  
   url('../fonts/IRANSansXFaNum-Light.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}


body{
   font-family: 'iransnas';
   font-size: 9pt !important;
   /* font-weight: bold !important; */
 
}